<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="mt-5">
			<div class="container mt-5">
				<h4 class="text-center">App và Game</h4>
				<div class="row b1 mt-3">
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/game.png}" >
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nếu
							muốn tận hưởng những tinh hoa của thế giới giải trí,
							hãy chơi game AAA</a>
						<p>Thế giới game không thiếu những studio - những nhà phát
							triển hàng đầu có tiềm lực tài chính vô cùng lớn kèm theo đội ngũ
							marketing vô cùng đông đảo về mặt nhân sự, hãy đọc bài viết dưới
							đây để biết thêm chi tiết</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-10"></div>
					<div class="col-2">
						<a href="#">Xem thêm</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>