<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Quản lý loại thuộc tính</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center" style="padding-top: 55px">
			<h1 style="font-size: 55px;">Quản lý loại thuộc tính</h1>
		</div>

		<div th:switch="${categories}" class="container"
			style="padding-top: 55px">
			<h2 th:case="null" align="center">No attribute-type yet!</h2>
			<div th:case="*">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center" style="font-size: 35px;"><a
										th:href="@{/attributeTypes?(page=${currentPage},sortField='attributeTypeID',sortDir=${reverseSortDir})}">Mã
											loại thuộc tính</a></th>
									<th class="text-center" style="font-size: 35px;"><a
										th:href="@{/attributeTypes?(page=${currentPage},sortField='name',sortDir=${reverseSortDir})}">Tên
											loại thuộc tính</a></th>
									<th class="text-center" style="font-size: 35px;">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="attributeType: ${attributeTypes}"
									th:href="@{/attributeTypes}">
									<td align="center" style="font-size: 25px;"
										th:text="${attributeType.attributeTypeID}"></td>
									<td align="center" style="font-size: 25px;"
										th:text="${attributeType.name}"></td>
									<td align="center"><a class="btn btn-warning"
										style="font-size: 25px;" role="button"
										th:href="@{/formUpdateAttributeType?(attributeTypeID=${attributeType.attributeTypeID})}">
											Chỉnh sửa</a> <a class="btn btn-danger" style="font-size: 25px;"
										role="button"
										th:href="@{/deleteAttributeType?(attributeTypeID=${attributeType.attributeTypeID})}">
											Xóa</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<div align="center" style="padding-top: 55px">
			<button type="button" class="btn btn-success"
				style="font-size: 25px;" th:href="@{/formAddAttributeType}">
				Thêm loại thuộc tính mới</button>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
	</script>
</body>
</html>