<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class=" mt-5">
			<h2 class="text-center">Cam kết và bảo mật thông tin khách
				hàng</h2>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-2"></div>
					<div class="col-8">
						<span> Thông tin cá nhân của thành viên trên
							Dog-Store.com.vn được FPTshop.com.vn cam kết bảo mật tuyệt đối
							theo chính sách bảo vệ thông tin cá nhân của FPTshop.com.vn. Việc
							thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực
							hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp
							luật có quy định khác.<br> Không sử dụng, không chuyển giao,
							cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của
							thành viên khi không có sự cho phép đồng ý từ thành viên.<br>
							Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn
							đến mất mát dữ liệu cá nhân thành viên, Dog-Store.com.vn sẽ có
							trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử
							lý kịp thời và thông báo cho thành viên được biết.<br> Bảo
							mật tuyệt đối mọi thông tin giao dịch trực tuyến của Thành viên
							bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ
							liệu trung tâm an toàn cấp 1 của Dog-Store.com.vn.<br> Hệ
							thống thanh toán thẻ được cung cấp bởi các đối tác cổng thanh
							toán (“Đối Tác Cổng Thanh Toán”) đã được cấp phép hoạt động hợp
							pháp tại Việt Nam. Theo đó, các tiêu chuẩn bảo mật thanh toán thẻ
							tại FPTShop đảm bảo tuân thủ theo các tiêu chuẩn bảo mật ngành.<br>
							Ban quản lý dog-Store.com.vn yêu cầu các cá nhân khi đăng ký/mua
							hàng là thành viên, phải cung cấp đầy đủ thông tin cá nhân có
							liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh
							nhân dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu
							trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý
							Dog-Store.com.vn không chịu trách nhiệm cũng như không giải quyết
							mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu
							xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi
							đăng ký ban đầu là không chính xác.
						</span>
					</div>
					<div class="col-2"></div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
