<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="huongdanmuahang mt-5">
			<h2 class="text-center">Câu hỏi thường gặp</h2>
			<div class="container mt-3">
				<div class="row">
					<div class="col-12 hdmh">
						<h6>Mua sản phẩm Dog-Store được bảo hành như thế nào?</h6>
						<span>Để đảm bảo quyền lợi của quý khách hàng khi mua sản
							phẩm tại các cửa hàng thuộc hệ thống cửa hàng Dog-Store. Chúng
							tôi cam kết tất cả các sản phẩm được tuân theo các điều khoản bảo
							hành của sản phẩm tại thời điểm xuất hóa đơn cho quý khách hàng.
							Các sản phẩm điện thoại sẽ có chính sách bảo hành khác nhau tùy
							thuộc vào hãng sản xuất. Khách hàng có thể bảo hành máy tại các
							cửa hàng Dog-Store trên toàn quốc cũng như các trung tâm bảo hành
							chính hãng sản phẩm.</span>
					</div>
					<div class="col-12 hdmh">
						<h6>Mua sản phẩm tại Dog-Store có được đổi trả không? Nếu
							được thì phí đổi trả sẽ được tính như thế nào?</h6>
						<span>Đối với các sản phẩm ĐTDĐ, MTB, MTXT, SMARTWATCH (Áp
							dụng bao gồm các sản phẩm Apple), sản phẩm cùng model, cùng màu,
							cùng dung lượng. Trong tình huống sản phẩm đổi hết hàng, khách
							hàng có thể đổi sang một sản phẩm khác tương đương hoặc cao hơn
							về giá trị so với sản phẩm lỗi. Trường hợp khách hàng muốn trả
							sản phẩm: Dog-Store sẽ kiểm tra tình trạng máy và thông báo đến
							Khách hàng về giá trị thu lại sản phẩm ngay tại cửa hàng.</span>
					</div>
					<div class="col-12 hdmh">
						<h6>Dog-Store có chính sách giao hàng tận nhà không? Nếu giao
							hàng tại nhà mà không ưng sản phẩm có được trả lại không?</h6>
						<span>FPT Shop cam kết giao hàng toàn bộ 63 tỉnh thành,
							Dog-Store nhận giao đơn hàng có thời gian hẹn giao tại nhà trước
							20h00. Miễn phí giao hàng với các đơn hàng trong bán kính 20km có
							đặt shop (Với đơn hàng có giá trị nhỏ hơn 100.000đ sẽ thu phí
							10.000đ) nhân viên Dog-Store sẽ tư vấn chi tiết về cách thức giao
							nhận thuận tiện nhất.</span><br> <span>Nếu quý khách hàng
							không ưng ý với sản phẩm khi nhận hàng, quý khách có thể từ chối
							mua hàng mà không mất bất cứ chi phí nào.</span><br> <span>Đối
							với các sản phẩm còn nguyên seal, khách hàng muốn bóc seal sẽ
							phải thanh toán 100% giá trị sản phẩm. Nếu không ưng, Dog-Store
							sẽ hỗ trợ đổi sản phẩm cho khách hàng theo chính sách đổi trả.</span><br>
						<span>Đối với các sản phẩm không seal, quý khách hàng có
							thể kiểm tra máy mà không phải chịu bất cứ chi phí nào nếu không
							mua.</span><br>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
