<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin1}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Danh sách khách hàng</title>
<meta charset="utf-8">
<!-- <meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
	<div layout:fragment="content">
	
		<div th:switch="${notice}" class="container">
			<div th:case="null"></div>
			<div th:case="'Xóa khách hàng thất bại!'" class="row">
				<div class="col-md-1"></div>
				<div class="alert-red col-md-10" align="center" style="border-radius: 15px;">
				  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				  <span th:text="${notice}" style="font-size: 20px;"></span>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div th:case="*" class="row">
				<div class="col-md-1"></div>
				<div class="alert-green col-md-10" align="center" style="border-radius: 15px;">
				  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				  <span th:text="${notice}" style="font-size: 20px;"></span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		
		<div align="center" style="padding-top: 35px">
			<h2 style="font-size: 30px;">Quản lý khách hàng</h2>
		</div>

		<div th:switch="${customers}" class="container-fluid"
			style="padding-top: 25px">
			<h3 th:case="null" align="center"  class="text-primary">Chưa có khách hàng nào!</h3>
			<div th:case="*">
				<div class="row">
					<div class="col-md-12">
						<div class="scroll">
							
							<div  align="center" th:switch="${messages}">
								<div th:case="null"></div>
								<div th:case="*">
									<p th:text="${messages}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>
								</div>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th class="text-center" style="font-size: 15px;" width="10%"><a
											class="text-decoration-none text-secondary"
											th:href="@{/admin/customers?(page=${currentPage},sortField='customerID',sortDir=${reverseSortDir})}">Mã
												khách hàng</a></th>
										<th class="text-center" style="font-size: 15px;" width="10%"><a
											class="text-decoration-none text-secondary"
											th:href="@{/admin/customers?(page=${currentPage},sortField='customerID',sortDir=${reverseSortDir})}">Họ
												tên</a></th>
										<th class="text-center" style="font-size: 15px;" width="10%"><a
											class="text-decoration-none text-secondary"
											th:href="@{/admin/customers?(page=${currentPage},sortField='customerID',sortDir=${reverseSortDir})}">Ngày
												sinh</a></th>
										<th class="text-center" style="font-size: 15px;" width="10%"><a
											class="text-decoration-none text-secondary"
											th:href="@{/admin/customers?(page=${currentPage},sortField='customerID',sortDir=${reverseSortDir})}">Số
												điện thoại</a></th>
										<th class="text-center" style="font-size: 15px;" width="10%"><a
											class="text-decoration-none text-secondary"
											th:href="@{/admin/customers?(page=${currentPage},sortField='customerID',sortDir=${reverseSortDir})}">Email</a></th>
										<th class="text-center" style="font-size: 15px;" width="10%"><a
											class="text-decoration-none text-secondary"
											th:href="@{/admin/customers?(page=${currentPage},sortField='customerID',sortDir=${reverseSortDir})}">Địa
												chỉ</a></th>
										<th class="text-center text-secondary"
											style="font-size: 15px;"
											sec:authorize="hasRole('ROLE_ADMIN')">Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cus : ${customers}">
										<td align="center" style="font-size: 15px;"
											th:text="${cus.customerID}"></td>
										<td align="center" style="font-size: 15px;"
											th:text="${cus.name}"></td>
										<td align="center" style="font-size: 15px;"
											th:text="${#dates.format(cus.birthday,'dd/MM/yyyy')}"></td>
										<td align="center" style="font-size: 15px;"
											th:text="${cus.phoneNumber}"></td>
										<td align="center" style="font-size: 15px;"
											th:text="${cus.email}"></td>
										<td align="center" style="font-size: 15px;"
											th:text="${cus.address}"></td>
										<!-- <td sec:authorize="hasRole('ROLE_ADMIN')"><a
											class="btn btn-warning"
											th:href="@{/admin/formUpdateCustomer?(customerID=${cus.customerID})}"
											role="button"><i class="fas fa-edit"></i></a></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"><a
											class="btn btn-danger"
											th:href="@{/admin/deleteCustomer?(customerID=${cus.customerID})}"
											role="button">Delete</a></td> -->

										<td align="center" sec:authorize="hasRole('ROLE_ADMIN')">
											<a class="btn btn-outline-primary "
											style="font-size: 15px; width: 8rem;" role="button"
											th:href="@{/admin/formUpdateCustomer?(customerID=${cus.customerID})}">
												<i class="fas fa-pencil-alt"></i><b> Chỉnh sửa</b>
										</a> 
										<!-- <a class="btn btn-outline-danger"
											style="font-size: 15px; width: 8rem;" role="button"
											th:href="@{/admin/deleteCustomer?(customerID=${cus.customerID})}"
											> <i
												class="fas fa-trash-alt"></i> <b>Xóa</b>
										</a> -->
										
										 
										<!-- BĐau Modal hiện alert cho nút xóa-->
											<button type="button" class="btn btn-outline-danger"
												data-bs-toggle="modal" style="font-size: 15px; width: 8rem;"
												th:attr="data-bs-target=${'#deleteConfirmModal'+cus.customerID}">
												<i class="fas fa-trash-alt"></i> <b>Xóa</b></a>
											</button>

											<div class="modal fade"
												th:attr="id = ${'deleteConfirmModal'+cus.customerID}"
												tabindex="-1" aria-labelledby="exampleModalLabel"
												aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">Bạn có chắc chắn muốn xóa?</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-outline-primary" style=" width: 6rem;"
																data-bs-dismiss="modal">
																<i class='far fa-hand-point-down'></i><b>&nbsp;Không</b>
															</button>
															<a class="btn btn-outline-danger" role="button" style=" width: 6rem;"
																th:href="@{/admin/deleteCustomer?(customerID=${cus.customerID})}">
																<i class="fas fa-trash-alt"></i> <b>Có</b>
															</a>
														</div>
													</div>
												</div>
											</div> 
											<!--KThuc Modal hiện alert cho nút xóa-->
										</td>
									</tr>
								</tbody>
							</table>
						</div>



					</div>
				</div>
				<nav aria-label="Page navigation example" style="padding-top: 15px">
					<ul class="pagination justify-content-center">
						<li th:if="${currentPage>1}" class="page-item"><a
							class="page-link"
							th:href="@{/admin/customers?(page=${currentPage-1})}">Trang
								trước</a></li>
	
						<li th:if="${currentPage<=1}" class="page-item disabled"><a
							class="page-link" href="#">Trang trước</a></li>
	
						<li th:each="i:${#numbers.sequence(1,totalPage)}" class="page-item"><a
							class="page-link" th:text=${i}
							th:href="@{/admin/customers?(page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a></li>
	
						<li th:if="${currentPage<totalPage}" class="page-item"><a
							class="page-link"
							th:href="@{/admin/customers?(page=${currentPage+1})}">Trang
								sau</a></li>
	
						<li th:if="${currentPage>=totalPage}" class="page-item disabled"><a
							class="page-link" href="#">Trang sau</a></li>
					</ul>
				</nav>
			</div>
			

			<div align="center" style="padding-top: 15px; padding-bottom: 35px"
				sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="btn btn-outline-success mb-5" style="font-size: 15px;"
					role="button" th:href="@{/admin/formAddCustomer}"> <i
					class="fas fa-plus"></i> <b>Thêm khách hàng mới</b>
				</a>
			</div>


		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
	</script>
</body>
</html>