<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin}">
<head>
<meta charset="UTF-8" />
<title> Quản lý đơn hàng</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<!-- <div align="center">
		<h1>Product Manager</h1>
		<a href="new">Create new Product</a> <br>
		<table border="1">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>FreeShip</th>
					<th>Price</th>
					<th>Price Special</th>
					<th>Price Special </th>
					<th>Action</th>
				</tr>
				<tr th:each="product: ${listProducts}">
					<td th:text="${product.id}">Id</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.brand}">Brand</td>
					<td th:text="${product.madein}">Made in</td>
					<td th:text="${product.price}">Price</td>
					<td><a th:href="@{'/edit/' +${product.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' +${product.id}}">Delete</a>
					</td>
				</tr>
			</thead>
		</table>
	</div> -->
	<h2>All</h2>
	</div>
</body>
</html>