<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutShop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<a class="nav-link" th:href="@{/categories}">Quản lý danh mục</a><br/>
			<a class="nav-link" th:href="@{/attributeTypes}">Quản lý loại thuộc tính</a><br/>
			<a class="nav-link" th:href="@{/productAttributes}">Quản lý thuộc tính</a><br/>
			<a class="nav-link" th:href="@{/positions}">Quản lý chức vụ</a><br/>
			<a class="nav-link" th:href="@{/employees}">Quản lý nhân viên</a><br/>
			<a class="nav-link" th:href="@{/manufacturers}">Quản lý hãng sản xuất</a><br/>
			<a class="nav-link" th:href="@{/products}">Quản lý sản phẩm</a><br/>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<h2 class="my-5">Danh sách sản phẩm</h2>
				<table class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Tên sản phẩm</th>
							<th>Mô tả sản phẩm</th>
							<th>Giá sản phẩm</th>
							<th>Giá khuyến mãi</th>

							<th>Danh mục sản phẩm</th>
							<th>Nhà sản xuất</th>
							<th>Hình ảnh</th>
							<th>Giỏ hàng</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="pro : ${products}">
							<td th:text="${pro.productName}"></td>
							<td th:text="${pro.productDescription}"></td>
							<td th:text="${pro.price}"></td>
							<td th:text="${pro.priceSpecial}"></td>

							<td th:text="${pro.category.name}"></td>
							<td th:text="${pro.manufacturer.name}"></td>
							<td><a
								th:href="@{/upload/{path}(path=${pro.defaultImage.name})}">
									<img
									th:attr="src=@{/upload/{path}(path=${pro.defaultImage.name})}"
									width="100px" height="100px" />
							</a></td>
							<td><a class="btn btn-primary" href="#" role="button">Thêm
									vào giỏ hàng</a></td>

						</tr>
					</tbody>
				</table>
			</div>



		</div>
	</div>

</body>
</html>