<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="huongdanmuahang mt-5">
			<h2 class="text-center">Hướng dẫn mua hàng</h2>
			<div class="container mt-3">
				<h6>Quy trình giao dịch</h6>
				<p>Dành cho người mua hàng tại website TMĐT Dog-Store.com.vn</p>
				<p>Tìm kiếm và chọn sản phẩm cần mua.</p>
				<p>Xem giá và thông tin chi tiết sản phẩm đó, nếu quý khách đồng
					ý muốn đặt hàng, quý khách ấn vào nút thêm vào giỏ hàng:</p>
				<p>Quý khách điền đầy đủ thông tin theo mua hàng theo mẫu:</p>
				<p>Sau khi đã nhập đầy đủ thông tin, quý khách click “Đặt hàng”
					để hoàn tất đặt hàng</p>
				<p>Sau khi nhận đơn hàng của người mua, Dog-Store.com.vn sẽ liên
					lạc với khách hàng qua thông tin số điện quý khách hàng cung cấp từ
					số điện thoại 012 3456 789 để xác thực thông tin đơn hàng.</p>
				<p>Dog-store.com.vn giao hàng tận nhà đến cho khách hàng hoặc
					khách hàng đến trực tiếp các cửa hàng trên toàn quốc để nhận hàng.</p>
				<h6>Dành cho bên bán hàng(Dog-Store.com)</h6>
				<p>Chuẩn bị sản xuất nội dung gồm: hình ảnh sản phẩm chụp thực
					tế hoặc hình ảnh do hãng sản xuất cung cấp, bài viết giới thiệu,
					thông tin cấu hình sản phẩm.</p>
				<p>Nhập liệu bằng công cụ quản lý riêng dành cho nhân viên
					Dog-store.com.vn</p>
				<p>Liên hệ với bên cửa hàng hoặc đơn vị vận chuyển trên
					toàn quốc</p>
			</div>
		</section>
	</div>
</body>
</html>