<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class=" mt-5">
			<h2 class="text-center">Hướng dẫn đổi trả sản phẩm</h2>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-2"></div>
					<div class="col-8">
						<h6>Sản phẩm lỗi do nhà sản xuất</h6>
						<p>Sản phẩm cùng model, cùng màu, cùng dung lượng. Trong tình
							huống sản phẩm đổi hết hàng, khách hàng có thể đổi sang một sản
							phẩm khác tương đương hoặc cao hơn về giá trị so với sản phẩm
							lỗi.</p>
						<p>Khách hàng muốn trả sản phẩm: Dog-Store sẽ kiểm tra tình
							trạng máy và thông báo đến Khách hàng về giá trị thu lại sản phẩm
							ngay tại cửa hàng.</p>
						<h6>Sản phẩm không lỗi (đổi trả theo nhu cầu của khách hàng)</h6>
						<p>Khách hàng muốn đổi sang sản phẩm khác hoặc trả sản phẩm:
							Dog-Store sẽ kiểm tra tình trạng máy và thông báo đến Khách hàng
							về giá trị thu lại sản phẩm ngay tại cửa hàng.</p>
						<h6>Sản phẩm lỗi do người sử dụng</h6>
						<p>Không áp dụng đổi trả với sản phẩm:</p>
						<p>Máy không còn giữ nguyên 100% hình dạng ban đầu, bao gồm:
							có dấu hiệu va chạm mạnh, cấn móp, bị vào nước...</p>
						<p>Không đủ điều kiện bảo hành theo chính sách của hãng.</p>
						<p>Trong trường hợp này, FPT Shop hỗ trợ chuyển TTBH và khách
							hàng chịu phí sửa chữa</p>

					</div>
					<div class="col-2"></div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
