<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutShop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6">
				<h2 class="my-5">Danh sách sản phẩm</h2>
				<table class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Tên sản phẩm</th>
							<th>Mỏ tả sản phẩm</th>
							<th>Giá sản phẩm</th>
							<th>Giá khuyến mãi</th>
							<th>THời gian bắt đầu giá khuyến mãi</th>
							<th>Thời gian kết thúc</th>
							<th>Danh mục sản phẩm</th>
							<th>Nhà sản xuất</th>
							<th>Hình ảnh</th>
							<th>Giỏ hàng</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="pro : ${products}">
							<td th:text="${pro.productName}"></td>
							<td th:text="${pro.productDescription}"></td>
							<td th:text="${pro.price}"></td>
							<td th:text="${pro.priceSpecial}"></td>
							<td th:text="${pro.priceSpecialStartDate}"></td>
							<td th:text="${pro.priceSpecialEndDate}"></td>
							<td th:text="${pro.category}"></td>
							<td th:text="${pro.manufacturer}"></td>
							<td th:text="${pro.defaultImage}"></td>
							<td><a class="btn btn-primary"
								th:href="#" role="button">Thêm vào giỏ hàng</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>

			

		</div>
		</div>

	</div>
</body>
</html>