
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin1}">
<head>
<meta charset="UTF-8" />
<title>Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<!-- <<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="text-center text-success"> User</h2>
						<form th:action="@{/edituser?(userId=${user.id})}" th:object="${user}" method="get">
							<label for="firstName" class="col-form-label">First Name</label>
							<input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name"> 
							<p th:errors ="*{firstName}" class="text-danger" ></p>
							<label for="lastName" class="col-form-label mt-1">Last Name</label>
							<input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name"> 
							<p th:errors ="*{lastName}" class="text-danger"></p>
							<label for="email" class="col-form-label mt-1">Email</label>
							<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email Address"> 
							<p th:errors ="*{email}" class="text-danger"></p>
								
								
								<input
								type="submit" class="btn btn-primary mt-1" value="Save">
						</form>
					</div>
				</div>
			</div>
		</section> -->
		<section style="background-color: #eee;">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<img
								th:attr="src=@{/upload/{path}(path=${employee.avatar.name})}"
								alt="avatar" class="rounded-circle img-fluid"
								style="width: 150px;">
							<h5 class="my-3" th:text="${employee.name}"></h5>
							<p class="text-muted mb-1" th:text="${employee.employeeID}"></p>
							<p class="text-muted mb-4" th:text="${employee.userName}"></p>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Tên:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${employee.name}"></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Email</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${employee.email}"></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Số điện thoại</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${employee.phoneNumber}"></p>
								</div>
							</div>

							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Ngày sinh</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${employee.bithYear}"></p>
								</div>
							</div>
						</div>
						<a class="btn btn-primary"
							th:href="@{/admin/formUpdateInfoEmployee?(employeeID=${employee.employeeID})}"
							role="button"><i class="fas fa-edit"></i></a> <a
							th:href="@{/admin}" class="btn btn-primary mt-1">Trở về</a>
					</div>
				</div>
			</div>

		</section>
		
	</div>
	
</body>
</html>