<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="mt-5">
			<div class="container mt-5">
				<h4 class="text-center">Khuyến mãi</h4>
				<div class="row b1 mt-3">
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/km1.png}">
					</div>
					<div class="col-8 b">
						<a href="#">Tuần lễ giá sốc,laptop Lenovo giảm đến 50%
							khu mua tại Dog-Store</a>
						<p>Từ ngày 12 - 22/08/2022, Dog-Store đồng loạt giảm sốc từ
							15% đến 50% cho laptop Lenovo và dành tặng thêm ưu đãi cho các
							bạn học sinh - sinh viên 1 năm bảo hành, trả góp 0% lãi suất</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-10"></div>
					<div class="col-2">
						<a href="#">Xem thêm</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>