<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin1}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<title>Quản lý hóa đơn</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center" style="padding-top: 35px">
			<h1 style="font-size: 35px;">Quản lý hóa đơn</h1>
		</div>

		<div th:switch="${orders}" class="container-fluid"
			style="padding-top: 25px">
			<h2 th:case="null" align="center" class="text-primary">Chưa có hóa đơn nào!</h2>
			<div th:case="*">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center" style="font-size: 15px;"><a class="text-decoration-none text-secondary"
										th:href="@{/admin/orders?(page=${currentPage},sortField='orderID',sortDir=${reverseSortDir})}">
											Mã hóa đơn</a></th>
									<th class="text-center text-secondary" style="font-size: 15px;"> Chi tiết hóa đơn</th>
									<th class="text-center" style="font-size: 15px;"><a class="text-decoration-none text-secondary"
										th:href="@{/admin/orders?(page=${currentPage},sortField='customer',sortDir=${reverseSortDir})}">
											Khách hàng</a></th>
									<th class="text-center" style="font-size: 15px;"><a class="text-decoration-none text-secondary"
										th:href="@{/admin/orders?(page=${currentPage},sortField='orderStatus',sortDir=${reverseSortDir})}">
											Trạng thái</a></th>
									<th class="text-center" style="font-size: 15px;"><a class="text-decoration-none text-secondary"
										th:href="@{/admin/orders?(page=${currentPage},sortField='order.orderDate',sortDir=${reverseSortDir})}">
											Ngày đặt hàng</a></th>
									<th class="text-center" style="font-size: 15px;"><a class="text-decoration-none text-secondary"
										th:href="@{/admin/orders?(page=${currentPage},sortField='amount',sortDir=${reverseSortDir})}">
											Số lượng sản phẩm</a></th>
									<th class="text-center" style="font-size: 15px;"><a class="text-decoration-none text-secondary"
										th:href="@{/admin/orders?(page=${currentPage},sortField='total',sortDir=${reverseSortDir})}">
											Tổng giá tiền<br/>(không gồm phí giao hàng)</a></th>
											
									<th class="text-center text-secondary" style="font-size: 15px;" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGEMENT')">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order: ${orders}">
									<td align="center" style="font-size: 15px;"
										th:text="${order.orderID}"></td>
									<td align="center">
										<a class="btn btn-outline-primary" style="font-size: 15px;"
										role="button"
										th:href="@{/admin/orderDetail?(orderID=${order.orderID})}">
											<b>Chi tiết hóa đơn</b></a>
									</td>
									<td align="center" style="font-size: 15px;"
										th:text="${order.customer.name + ' - ' + order.customer.phoneNumber}"></td>
									<td align="center" style="font-size: 15px;"
										th:switch="${order.orderStatus.toString}">
										<b th:case="RECEIVED" style="color:olive;">Đã nhận đơn</b>
										<b th:case="PACKAGED" style="color: indigo">Đã đóng gói</b>
										<b th:case="DELIVERING" style="color: blue">Đang chuyển hàng</b>
										<b th:case="DELIVERED" style="color: green">Đã chuyển hàng</b>
										<b th:case="ORDER_RETURNED" style="color: orangered;">Đã trả lại hàng</b>
										<b th:case="CANCELED" style="color: red">Đã hủy đơn</b>
									</td>
									<td align="center" style="font-size: 15px;"
										th:text="${#calendars.format(order.orderDate,'dd/MM/yyyy HH:mm:ss')}"></td>
									<td align="center" style="font-size: 15px;"
										th:text="${order.amount}"></td>
									<td align="center" style="font-size: 15px;"
										th:text="${#numbers.formatInteger(order.total,3,'POINT')}+ ' '  +'VNĐ' "></td>
									
									<td align="center" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGEMENT')">
										<!-- <a class="btn btn-warning"
										style="font-size: 15px;" role="button"
										th:href="@{/admin/formUpdateOrder?(orderID=${order.orderID})}">
											<i class="fas fa-pencil-alt"></i> Chỉnh sửa</a>  -->
										<!-- <a class="btn btn-outline-danger" style="font-size: 15px;"
										role="button"
										th:href="@{/admin/deleteOrder?(orderID=${order.orderID})}">
											<i class="fas fa-trash-alt"></i> <b>Xóa</b></a> -->
											
									<!-- BĐau Modal hiện alert cho nút xóa-->
										<button type="button" class="btn btn-outline-danger"
											data-bs-toggle="modal" style="font-size: 15px; width: 8rem;"
											th:attr="data-bs-target=${'#deleteConfirmModal'+order.orderID}">
											<i class="fas fa-trash-alt"></i> <b>Xóa</b></a>
										</button>

										<div class="modal fade"
											th:attr="id = ${'deleteConfirmModal'+order.orderID}"
											tabindex="-1" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">Bạn có chắc chắn muốn xóa?</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-outline-primary"
															data-bs-dismiss="modal" style=" width: 6rem;">
															<i class='far fa-hand-point-down'></i><b>&nbsp;Không</b>
														</button>
														<a class="btn btn-outline-danger" role="button"  style=" width:6rem;"
															th:href="@{/admin/deleteOrder?(orderID=${order.orderID})}">
																	<i class="fas fa-trash-alt"></i> <b>Có</b>
														</a>
													</div>
												</div>
											</div>
										</div> 
										<!--KThuc Modal hiện alert cho nút xóa-->
									</td>
								</tr>
							</tbody>
						</table>

						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li th:if="${currentPage>1}" class="page-item"><a
									class="page-link"
									th:href="@{/admin/orders?(page=${currentPage-1})}">Trang trước</a></li>

								<li th:if="${currentPage<=1}" class="page-item disabled"><a
									class="page-link" href="#">Trang trước</a></li>

								<li th:each="i:${#numbers.sequence(1,totalPage)}"
									class="page-item"><a class="page-link" th:text=${i}
									th:href="@{/admin/orders?(page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a></li>

								<li th:if="${currentPage<totalPage}" class="page-item"><a
									class="page-link"
									th:href="@{/admin/orders?(page=${currentPage+1})}">Trang kế tiếp</a></li>
								<li th:if="${currentPage>=totalPage}" class="page-item disabled"><a
									class="page-link" href="#">Trang kế tiếp</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
	</script>
</body>
</html>