<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<title>Quản lý chức vụ</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center" style="padding-top: 55px">
			<h1 style="font-size: 35px;">Quản lý chức vụ</h1>
		</div>

		<div th:switch="${positions}" class="container-fluid"
			style="padding-top: 35px">
			<h2 th:case="null" align="center">Chưa có chức vụ nào!</h2>
			<div th:case="*">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center" style="font-size: 20px;"><a
										th:href="@{/positions?(page=${currentPage},sortField='positionID',sortDir=${reverseSortDir})}">Mã
											chức vụ</a></th>
									<th class="text-center" style="font-size: 20px;"><a
										th:href="@{/positions?(page=${currentPage},sortField='name',sortDir=${reverseSortDir})}">Tên
											chức vụ</a></th>
									<th class="text-center" style="font-size: 20px;"><a
										th:href="@{/positions?(page=${currentPage},sortField='editData',sortDir=${reverseSortDir})}">Quyền
											chỉnh sửa dữ liệu</a></th>
									<th class="text-center" style="font-size: 20px;">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="position: ${positions}">
									<td align="center" style="font-size: 15px;"
										th:text="${position.positionID}"></td>
									<td align="center" style="font-size: 15px;"
										th:text="${position.name}"></td>
									<td align="center" style="font-size: 15px;"
										th:switch=="${position.editData}">
										<p th:case="true">Được phép</p>
										<p th:case="false">Không được phép</p>
									</td>
									<td align="center">
										<a class="btn btn-warning"
										style="font-size: 15px;" role="button"
										th:href="@{/formUpdatePosition?(positionID=${position.positionID})}">
											<i class="fas fa-pencil-alt"></i> Chỉnh sửa</a> 
										<a class="btn btn-danger" style="font-size: 15px;"
										role="button"
										th:href="@{/deletePosition?(positionID=${position.positionID})}">
											<i class="fas fa-trash-alt"></i> Xóa</a></td>
								</tr>
							</tbody>
						</table>

						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li th:if="${currentPage>1}" class="page-item"><a
									class="page-link"
									th:href="@{/positons?(page=${currentPage-1})}">Trang trước</a></li>

								<li th:if="${currentPage<=1}" class="page-item disabled"><a
									class="page-link" href="#">Trang trước</a></li>

								<li th:each="i:${#numbers.sequence(1,totalPage)}"
									class="page-item"><a class="page-link" th:text=${i}
									th:href="@{/positons?(page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a></li>

								<li th:if="${currentPage<totalPage}" class="page-item"><a
									class="page-link"
									th:href="@{/positons?(page=${currentPage+1})}">Trang kế tiếp</a></li>
								<li th:if="${currentPage>=totalPage}" class="page-item disabled"><a
									class="page-link" href="#">Trang kế tiếp</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<div align="center" style="padding-top: 55px">
			<a class="btn btn-success" style="font-size: 15px;" role="button"
			th:href="@{/formAddPosition}">
				<i class="fas fa-plus"></i> Thêm chức vụ mới</a> 
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
	</script>
</body>
</html>