<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-admin1}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" 
	href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Rich-Text-Editor-jQuery-RichText/src/richtext.min.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/Rich-Text-Editor-jQuery-RichText/src/jquery.richtext.js"></script>
        
<script language="javascript" type="text/javascript">
	window.onload = function () {
	    var fileUpload = document.getElementById("fileupload");
	    
	    fileUpload.onchange = function () {
	        if (typeof (FileReader) != "undefined") {
	            var dvPreview = document.getElementById("dvPreview");
	            dvPreview.innerHTML = "";
	            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
	            for (var i = 0; i < fileUpload.files.length; i++) {
	                var file = fileUpload.files[i];
	                if (regex.test(file.name.toLowerCase())) {
	                    var reader = new FileReader();
	                    reader.onload = function (e) {
	                        var img = document.createElement("IMG");
	                        img.height = "135";
	                        img.width = "135";
	                        img.border = "1";
	                        img.src = e.target.result;
	                        dvPreview.appendChild(img);
	                    }
	                    reader.readAsDataURL(file);
	                } else {
	                    alert(file.name + " không phải tên file hợp lệ.");
	                    dvPreview.innerHTML = "";
	                    return false;
	                }
	            }
	        } else {
	            alert("Trình duyệt này không hỗ trợ FileReader.");
	        }
	    }
	};
</script>
<title>Chỉnh sửa sản phẩm</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center" style="padding-top: 45px">
			<h2 style="font-size: 35px;">Chỉnh sửa sản phẩm</h2>
		</div>

		<div class="container-fluid" style="padding-top: 35px">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<form th:action="@{/admin/updateProduct?(productID=${product.productID})}" th:object="${product}"
						 enctype="multipart/form-data" method="post">
						
						<div class="row">
							<div class="col-md-3">
								<label for="productName" class="col-form-label" style="font-size: 20px;">Tên sản phẩm:</label> 
							</div>
							<div class="col-md-8">
								<input type="text" th:field="*{productName}" class="form-control"
									id="productName" placeholder="Hãy nhập tên của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{productName}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
									<div th:switch="${messages}">
										<div th:case="null"></div>
										<div th:case="*">
											<p th:text="${messages}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="productSKU" class="col-form-label" style="font-size: 20px;">Mã SKU:</label> 
							</div>
							<div class="col-md-8">
								<input type="text" th:field="*{productSKU}" class="form-control"
									id="productSKU" placeholder="Hãy nhập mã SKU của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{productSKU}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
								</div>
							</div>
						</div>
						
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="productDescription" class="col-form-label" style="font-size: 20px;">Mô tả sản phẩm:</label> 
							</div>
							<div class="col-md-8">
								<textarea th:field="*{productDescription}" class="form-control textarea content"
									id="productDescription" placeholder="Hãy nhập mô tả của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;"></textarea>
								<div class="row">
								<p th:errors="*{productDescription}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
								</div>
							</div>
							
					        <script>
					        $(document).ready(function() {
					            $('.content').richText();
					        });
					        </script>
						</div>
							
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="price" class="col-form-label" style="font-size: 20px;">Giá:</label> 
							</div>
							<div class="col-md-8">
								<input type="number" th:field="*{price}" class="form-control"
									id="price" placeholder="Hãy nhập giá của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{price}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
								</div>
							</div>
						</div>
							
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="priceSpecial" class="col-form-label" style="font-size: 20px;">Giá khuyến mãi:</label> 
							</div>
							<div class="col-md-8">
								<input type="number" th:field="*{priceSpecial}" class="form-control"
									id="priceSpecial" placeholder="Hãy nhập giá khuyến mãi của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{priceSpecial}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>
								</div>
							</div>
						</div>
						
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="quantity" class="col-form-label" style="font-size: 20px;">Số lượng hiện có:</label> 
							</div>
							<div class="col-md-8">
								<input type="number" th:field="*{quantity}" class="form-control"
									id="quantity" placeholder="Hãy nhập số lượng hiện có của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{quantity}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
								</div>
							</div>
						</div>
							
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="quantityOrderMin" class="col-form-label" style="font-size: 20px;">Số lượng <br/>đặt hàng tối thiểu:</label> 
							</div>
							<div class="col-md-8">
								<input type="number" th:field="*{quantityOrderMin}" class="form-control"
									id="quantityOrderMin" placeholder="Hãy nhập số lượng đặt hàng tối thiểu của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{quantityOrderMin}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
								</div>
							</div>
						</div>
							
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="quantityOrderMax" class="col-form-label" style="font-size: 20px;">Số lượng <br/>đặt hàng tối đa:</label> 
							</div>
							<div class="col-md-8">
								<input type="number" th:field="*{quantityOrderMax}" class="form-control"
									id="quantityOrderMax" placeholder="Hãy nhập số lượng đặt hàng tối đa của sản phẩm bạn muốn chỉnh sửa"  style="font-size: 20px;">
								<div class="row">
									<p th:errors="*{quantityOrderMax}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
								</div>
							</div>
						</div>
						
						<hr/>
						
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-6">
								<input type="checkbox"  th:field="*{status}" id="status" name="status" value="trạng thái của sản phẩm">
								 <label for="status" class="col-form-label" style="font-size: 20px;"> Cho phép bán </label> 
								<p th:errors="*{status}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>	
							</div>
							<div class="col-md-4">
								<input type="checkbox"  th:field="*{freeShip}" id="freeShip" name="freeShip" value="giao hàng miễn phí">
								 <label for="freeShip" class="col-form-label" style="font-size: 20px;"> Giao hàng miễn phí </label> 
								<p th:errors="*{freeShip}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>
							</div>
							<div class="col-md-1"></div>
						</div>
						
						<hr/>
						
						<div class="row">
							 <div class="col-md-3">
							 	<label for="category"  class="col-form-lable" style="font-size: 20px;">Danh mục:</label>
							 </div>
							 <div class="col-md-8">
								 <select id="category" th:field="*{category}" class="form-control" style="font-size: 20px;">
								 	 <option th:value="null" selected="selected">- Chọn danh mục -</option>
									 <option th:each="category: ${categories}"
									 		th:value = "${{category}}"
									 		th:text="${category.name}"> </option>
								 </select>
								 <div class="row">
									 <p th:errors="*{category}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>
								 </div>
							</div>
							 <div align="center" style="padding-top: 15px; padding-bottom: 5px">
								<a class="btn btn-outline-primary" style="font-size: 15px;" role="button"
								th:href="@{/admin/formAddCategory}" target=”_blank”>
									<i class="fas fa-plus"></i> <b>Thêm danh mục mới</b></a> 
							 </div>
								 
						</div>
						
						<hr/>
						<div class="row">
							 <div class="col-md-3">
							 	<label for="manufacturer"  class="col-form-lable" style="font-size: 20px;">Hãng sản xuất:</label>
							 </div>
							 <div class="col-md-8">
								 <select id="manufacturer" th:field="*{manufacturer}" class="form-control" style="font-size: 20px;">
								 	<option th:value="null" selected="selected">- Chọn hãng sản xuất -</option>
									 <option th:each="manufacturer: ${manufacturers}"
									 		th:value = "${{manufacturer}}"
									 		th:text="${manufacturer.name}"></option>
								 </select>
								 <div class="row">
									 <p th:errors="*{manufacturer}" class="text-danger"  style="font-size: 20px; padding-top: 15px;"></p>
								 </div>
							 </div>
							 <div align="center" style="padding-top: 15px">
								<a class="btn btn-outline-primary" style="font-size: 15px;" role="button"
								th:href="@{/admin/formAddManufacturer}" target=”_blank”>
									<i class="fas fa-plus"></i> <b>Thêm hãng sản xuất mới</b></a> 
							 </div>
								 
						</div>
						
						<hr/>
						
						<div class="row" >
							<div class="col-md-3">
								<label class="col-form-lable" style="font-size: 20px;">Ảnh sản phẩm <br/>hiện tại:</label>	
							</div>
							<div class="col-md-8">
								<div class="row" th:switch="${images}">
									<p th:case="null" align="center" class="text-danger" style="font-size: 20px;"> Chưa có ảnh sản phẩm nào!</p>
									<div th:case="*" class="row">
										<div th:each="image : ${images}" class="col-md-3">
									        <img th:attr="src=@{/upload/{path}(path=${image.name})}"  width="100px" height="100px"/>
									        <br/>
											<a class="btn btn-outline-danger" style="font-size: 15px; width: 90px; margin-left: 5px; margin-top: 5px; margin-bottom: 5px;" 
											role="button"
											th:href="@{/deleteImage?(imageID=${image.imageID}, productID=${product.productID})}">
												<i class="fas fa-trash-alt"></i> <b>Xóa</b></a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<hr/>
						
						<div class="row">
							<div class="col-md-3">
								<label for="file" class="col-form-label" style="font-size: 20px;">Tải lên <br/>ảnh sản phẩm:</label> 
							</div>
							<div class="col-md-8">
								<input id="fileupload" class="form-control" type="file" name="file" multiple="multiple" />
							</div>
						</div>
						
						<br/>
						
						<div class="row">
							<div class="col-md-3">
							<p style="font-size: 18px;">Ảnh đã chọn: </p>
							</div>
							<div class="col-md-8">
								<div id="dvPreview"></div>
							</div>
						</div>
						
						<hr/>
						<div align="center">
							<input type="submit" class="btn btn-outline-success mt-3" value="Tiếp theo" style="font-size: 17px; font-weight:700; width: 8rem;">
						</div>
					</form>
					<div align="center">
						<button onclick="history.back()" class="btn btn-outline-primary mt-2 mb-5" style="font-size: 17px; width: 8rem;"><b>Quay lại</b></button>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
	</script>
	
	<script src="/path/to/cdn/jquery.min.js"></script>
	<script src="/path/to/jquery.richtext.min.js"></script>
</body>
</html>