<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="quydinhchung mt-5">
			<h2 class="text-center">QUY ĐỊNH CHUNG</h2>
			<div class="container mt-3">
				<h6>1.Giới thiệu</h6>
				<p>Chào mừng quý khách đến với website Dog-Store: Trang
					bán hàng uy tín nhất dựa trên đánh giá của khách hàng</p>
				<p>
					- Website thương mại điện tử Dog-Store.com.vn do Công ty Cổ Phần
					Bán lẻ kỹ thuật số Dog-Store (“Công ty”) thực hiện hoạt động và vận
					hành. Đối tượng phục vụ là tất cả khách hàng trên 63 tỉnh thành
					Việt Nam có nhu cầu mua hàng nhưng không có thời gian đến shop hoặc
					đặt trước để khi đến shop là đảm bảo có hàng.<br> - Sản phẩm
					được kinh doanh tại www.FPTshop.com.vn phải đáp ứng đầy đủ các quy
					định của pháp luật, không bán hàng nhái, hàng không rõ nguồn gốc,
					hàng xách tay.<br> - Hoạt động mua bán tại FPTshop.com.vn phải
					được thực hiện công khai, minh bạch, đảm bảo quyền lợi của người
					tiêu dùng.
				</p>
				<h6>2.Quy định chung</h6>
				<p>
					Tên Miền website Thương mại Điện tử:<br> Website thương mại
					điện tử Dog-Store.com.vn do Công ty Cổ phần bán lẻ kỹ thuật số phát
					triển với tên miền giao dịch là: www.Dog-Store.com.vn (sau đây gọi
					tắt là: “Dog-Store.com.vn”)<br> Định nghĩa chung:<br>

					Người bán là Công ty Cổ phần Bán lẻ kỹ thuật số Dog-Store<br>

					Người mua là công dân Việt Nam trên khắp 63 tỉnh thành. Người mua
					có quyền đăng ký tài khoản hoặc không cần đăng ký để thực hiện giao
					dịch.<br> Thành viên là bao gồm cả người mua và người tham
					khảo thông tin, thảo luận tại website.<br> Nội dung bản Quy
					chế này tuân thủ theo các quy định hiện hành của Việt Nam. Thành
					viên khi tham gia website TMĐT Dog-Store.com.vn phải tự tìm hiểu
					trách nhiệm pháp lý của mình đối với luật pháp hiện hành của Việt
					Nam và cam kết thực hiện đúng những nội dung trong Quy chế này.
				</p>
			</div>
		</section>
	</div>
</body>
</html>
