<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="huongdanmuahang mt-5">
			<h2 class="text-center">Quy trình thanh toán</h2>
			<p class="text-center">Người mua và bên bán có thể tham khảo các
				phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù
				hợp:</p>
			<div class="container mt-3">
				<h6>Cách 1: Thanh toán trực tiếp (người mua nhận hàng tại địa
					chỉ bên bán):</h6>
				<p>Bước 1: Người mua tìm hiểu thông tin về sản phẩm, dịch vụ
					được đăng tin.</p>
				<p>Bước 2: Người mua đến địa chỉ bán hàng là các cửa hàng
					Dog-Store</p>
				<p>Bước 3: Người mua thanh toán bằng tiền mặt, thẻ ATM nội địa
					hoặc thẻ tín dụng và nhận hàng.</p>
				<h6>Cách 2: Thanh toán sau (COD – giao hàng và thu tiền tận
					nơi)</h6>
				<p>Bước 1: Người mua tìm hiểu thông tin về sản phẩm, dịch vụ
					được đăng tin.</p>
				<p>Bước 2: Người mua xác thực đơn hàng (điện thoại, tin nhắn,
					email)</p>
				<p>Bước 3: Người bán xác nhận thông tin Người mua.</p>
				<p>Bước 4: Người bán chuyển hàng.</p>
				<p>Bước 5: Người mua nhận hàng và thanh toán bằng tiền mặt, thẻ
					ATM nội địa hoặc thẻ tín dụng.</p>
				<h6>Cách 3: Thanh toán online qua thẻ tín dụng, chuyển khoản:</h6>
				<p>Bước 1: Người mua tìm hiểu thông tin về sản phẩm, dịch vụ
					được đăng tin.</p>
				<p>Bước 2: Người mua xác thực đơn hàng (điện thoại, tin nhắn,
					email).</p>
				<p>Bước 3: Người bán xác nhận thông tin Người mua.</p>
				<p>Bước 4: Người mua thanh toán.</p>
				<p>Bước 5: Người bán chuyển hàng.</p>
				<p>Bước 6: Người mua nhận hàng.</p>
			</div>
		</section>
	</div>
</body>
</html>
