<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="tienich mt-5">
			<h2 class="text-center">DỊCH VỤ TIỆN ÍCH</h2>
			<div class="container mt-3">
				<div class="row ">
					<div class="col-3 box">
						<a href=""><h5>Mua mã thẻ cào</h5>
							<p>Giảm 3% cho mệnh giá từ 100.000 trở lên</p></a>
					</div>
					<div class="col-3 box">
						<a href=""><h5>Dịch vụ đóng tiền</h5>
							<p>Điện,Nước,Internet,cước điện thoại trả sau</p></a>
					</div>
					<div class="col-3 box ">
						<a href=""><h5>Mua thẻ game</h5>
							<p>Giảm 3% cho tất cả nhà mạng, áp dụng cho mệnh giá
								từ 100.000 trở lên</p></a>

					</div>
					<div class="col-3 box">
						<a href=""><h5>Vé máy bay,tàu</h5>
							<p>THu hộ tiền vé xe vé tàu vé máy bay</p></a>
					</div>
					<div class="col-3 box">
						<a href=""><h5>Tiền điện, nước</h5>
							<p>Giảm 3% cho mệnh giá từ 100.000 trở lên</p></a>
					</div>
					<div class="col-3 box">
						<a href=""><h5>Tiền Internet</h5>
							<p>Giảm 3% cho mệnh giá từ 100.000 trở lên</p></a>
					</div>
					<div class="col-3 box">
						<a href=""><h5>Ưu đãi trong tháng 9</h5>
							<p>Giảm 10% cho hóa đơn 10.000.000 trở lên</p></a>
					</div>
					<div class="col-3 box">
						<a href=""><h5>Bảo hiểm xe máy</h5>
							<p>Giảm 3% cho mệnh giá từ 100.000 trở lên</p></a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>