<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="mt-5">
			<div class="container mt-5">
				<h4 class="text-center">Đánh giá và tư vấn</h4>
				<div class="row b1 mt-3">
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
					<hr>
					<div class="col-4 b2">
						<img th:attr="src=@{/images/tuvan.png}">
					</div>
					<div class="col-8 b">
						<a
							href="https://fptshop.com.vn/tin-tuc/danh-gia/airpods-pro-2-5-tinh-nang-moi-va-cai-tien-dang-mong-doi-148712">Nên
							mua Airpods Pro ngay bây giờ hay đợi Airpods Pro 2</a>
						<p>AirPods Pro là một trong những tai nghe true wireless phổ
							biến nhất trên thị trường. Sau khi được giới thiệu vào tháng
							10/2019, AirPods Pro đã trở thành một phụ kiện phải có đối với
							nhiều người hâm mộ Apple.</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-10"></div>
					<div class="col-2">
						<a href="#">Xem thêm</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>