<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<title>Thông tin hóa đơn</title>
</head>
<body>

	<div layout:fragment="content">
		<div align="center" style="padding-top: 35px">
			<h1 style="font-size: 35px;">Thông tin hóa đơn</h1>
		</div>
		<div class="checkout-area pb-50 pdtop">
			<div class="container">
				<div class="row">

					<!-- If error messages -->
					<div id="checkoutError" class=""></div>
					<!--alert-error-->
					<form th:action="@{/shop/shoppingCartConfirmation}" method="POST">
						<div class="col-lg-12 col-md-12" th:object="${customerInfo}">
								<h5>Thông tin khách hàng</h5>
								<div class="row">
									<div class="col-md-6">
										<div class="checkout-form-list">

											<label>Họ và tên<span class="required">*</span></label> <input
												class="form-control" th:field="*{name}"
												id="customer.name" name="customer.billing.name"
												title="Name is required" type="text"
												maxlength="99" style="background-color: rgb(240, 255, 255);"
												placeholder="Họ và tên" /> <span
												id="error-customer.billing.name" class="error"></span>
										</div>
										<div th:switch="${nameMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${nameMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
								</div>

									<div class="col-md-6">

										<div class="checkout-form-list">
											<label>Năm sinh<span class="required">*</span></label> <input
												class="form-control" th:field="*{birthYear}"
												id="customer.birthYear" name="customer.billing.birthYear"
												title="Birthyear is required" autofocus="autofocus"
												type="number"
												style="background-color: rgb(240, 255, 255);"
												placeholder="Năm sinh" /> <span
												id="error-customer.billing.birthYear" class="error"></span>
										</div>
										<div th:switch="${birthYearMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${birthYearMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
									</div>
								
									<div class="col-md-6">

										<div class="checkout-form-list">
											<label>Email <span class="required">*</span></label> <input
												class="form-control" th:field="*{email}"
												id="customer.emailAddress" name="customer.emailAddress"
												title="Email address is required" type="text" 
												style="background-color: rgb(240, 255, 255);"
												placeholder="Email" /> <span
												id="error-customer.emailAddress" class="error"></span>
										</div>
										<div th:switch="${emailMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${emailMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
									</div>

									<div class="col-md-6">

										<div class="checkout-form-list">
											<label>Số điện thoại <span class="required">*</span></label>
											<input class="form-control" th:field="*{numberPhone}"
												id="customer.billing.phone" name="customer.billing.phone"
												title="Phone number is required" type="text" 
												style="background-color: rgb(240, 255, 255);"
												placeholder="Số điện thoại" /> <span
												id="error-customer.billing.phone" class="error"></span>
										</div>
										<div th:switch="${phoneMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${phoneMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
									</div>
								</div>
								<hr/>
								<h5>Địa chỉ giao hàng</h5>
								<div class="row">
									<div class="col-md-12">

										<div class="checkout-form-list">
											<label>Số nhà, tên đường, phường <span class="required">*</span></label>
											<input class="form-control" th:field="*{street}"
												id="customer.billing.address"
												name="customer.billing.address"
												title="Street address is required" type="text" value=""
												style="background-color: rgb(240, 255, 255);"
												placeholder="Số nhà, tên đường, phường" /> <span
												id="error-customer.billing.address" class="error"></span>
										</div>
										<div th:switch="${streetMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${streetMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
									</div>
									<div class="col-md-12">

										<div class="checkout-form-list">
											<label>Quận, huyện, thành phố <span class="required">*</span></label> <input
												class="form-control" th:field="*{district}"
												id="customer.billing.address"
												name="customer.billing.address"
												title="District address is required" type="text" value=""
												style="background-color: rgb(240, 255, 255);"
												placeholder="Quận, huyện, thành phố" /> <span
												id="error-customer.billing.address" class="error"></span>
										</div>
										<div th:switch="${districtMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${districtMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="checkout-form-list">
											<label>Tỉnh (thành phố trực thuộc trung ương) <span class="required">*</span></label> <input
												class="form-control" th:field="*{city}"
												id="customer.billing.city" name="customer.billing.city"
												title="City is required" type="text" value=""
												style="background-color: rgb(240, 255, 255);"
												placeholder="Tỉnh (thành phố trực thuộc trung ương)" /> <span
												id="error-customer.billing.city" class="error"></span>
										</div>
										<div th:switch="${cityMessages}">
											<div th:case="null"></div>
											<div th:case="*">
												<p th:text="${cityMessages}" class="text-danger"
													style="font-size: 20px; padding-top: 15px;"></p>
											</div>
										</div>
									</div>

								</div>

								<div class="pdtop">

									<div th:if="${errorMessage != null}"
										class="alert alert-danger" th:text="${errorMessage}"
										role="alert"></div>
								</div>
						</div>
						<div class="col-lg-12 col-md-12" th:object="${cartInfo}">
							<hr />
							<h5>Chi tiết hóa đơn</h5>
							<div class="row">
								<div class="col-2">Ảnh sản phẩm</div>
								<div class="col-2">Mã sản phẩm</div>
								<div class="col-2">Tên sản phẩm</div>

								<div class="col-2">Giá</div>
								<div class="col-1">Số lượng</div>
								<div class="col-2">Thành tiền</div>
							</div>
							<div class="row" th:each="cartLineInfo,itemStat:*{cartLines}" style="border: 1px solid #000000; border-radius: 5px; padding-top: 3px">
								<div class="col-2" >
									<img height=50 src=""
										th:attr="src=@{/upload/{path}(path=${cartLineInfo.productInfo.defaultImage})}" />
								</div>
								<div class="col-2" th:text="${cartLineInfo.productInfo.productID}"></div>
								<div class="col-2" th:text="${cartLineInfo.productInfo.productName}"></div>
								<div class="col-2">
									<strong th:text="${#numbers.formatInteger(cartLineInfo.productInfo.price,3,'POINT')}"></strong>
								</div>
								<div class="col-1" th:text="*{cartLines[__${itemStat.index}__].quantity}"></div>
								<strong class="col-2" th:text="${#numbers.formatInteger(cartLineInfo.amount,3,'POINT')}"></strong>
							</div>
							<div class="row"  style="padding-top: 15px">
								<strong th:text="'Tổng hóa đơn: ' + ${#numbers.formatInteger(cartInfo.amountTotal,0,'POINT')}"></strong>
							</div>
							<hr />
							<h5>Phương thức vận chuyển</h5>
							<div class="row"  style="padding-top: 15px">		
								<br/>
								<input class="col-1"  type="radio"  th:field="*{fastShip}" value="true" style="height:25px; width:25px;">
								<label class="col-11"  style="font-size: 20px;"> Chuyển phát nhanh - 100.000 VND </label> 
							</div>
							<div class="row"  style="padding-top: 15px">	
								<input class="col-1"   type="radio"  th:field="*{fastShip}" value="false"  style="height:25px; width:25px;">
								<label class="col-11"   style="font-size: 20px;"> Chuyển phát chậm - 50.000 VND </label> 
								<br/>
							</div>
							<hr />
							<h5>Phương thức thanh toán</h5>
							<div class="row"  style="padding-top: 15px">		
								<br/>
								<input class="col-1"  type="radio" checked  style="height:25px; width:25px;">
								<label class="col-11"  style="font-size: 20px;"> Thanh toán khi nhận hàng </label> 
							</div>
						</div>
						<div class="order-button-payment pdtop">
							<hr />
							<a class="btn btn-primary" th:href="@{/shop/shoppingCart}">Quay lại giỏ hàng</a>
							
							<button id="submitOrder" type="submit" class="btn btn-primary">Xác nhận hóa đơn</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
</script>
</body>
</html>