<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>
	<div layout:fragment="content">


	
		<section class=" mt-5">
			<div class="container">
				<h3 class="text-center">Deal Hot</h3>
				<div class="row deal-hot-product text-center">
					<div class="col-2th" th:each="pro : ${products}">
						<div class="sale-product">
							<img th:attr="src=@{/upload/{path}(path=${pro.defaultImage})}"
									width="200px" height="auto" />
							
							<a th:href="@{shop/productInfo?(productID=${pro.productID})}"><h3 class="hot-name" th:text="${pro.productName}"></h3></a>
							
							<h5 class="hot-price" th:text= "${#numbers.formatInteger(pro.priceSpecial,3,'POINT')}"></h5>
							<h5 class="old-price" th:text="${#numbers.formatInteger(pro.price,3,'POINT')}"></h5>
							
							<a class="btn btn-primary" href="#" role="button">Thêm vào giỏ hàng</a>	
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</div>

</body>
</html>