<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    function createPopupWin(pageTitle,
                popupWinWidth, popupWinHeight) {

	    var pName = document.getElementById("pName").innerText;
        var left = (screen.width - popupWinWidth) / 2;
        var top = (screen.height - popupWinHeight) / 4;
         
        var myWindow = window.open('/shop/productDescription?productName=' + pName, pageTitle,
                'resizable=yes, width=' + popupWinWidth
                + ', height=' + popupWinHeight + ', top='
                + top + ', left=' + left);
    }
</script>
<title>Chi tiết sản phẩm</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center" style="padding-top: 35px">
			<h1 style="font-size: 35px;">Chi tiết sản phẩm</h1>
		</div>
		<div class="container-fliud pt-5">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
				
					<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" th:attr="src=@{/upload/{path}(path=${product.defaultImage})}" style="max-width: 90%; padding-left: 10%"/>
							</div>
							<div class="carousel-item " th:each="image : ${images}">
								<img class="d-block w-100" th:attr="src=@{/upload/{path}(path=${image.name})}" style="max-width: 90%; padding-left: 10%"/>
							</div> 
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="#myCarousel" data-bs-slide="prev">
							<span><i class="fa fa-angle-left" aria-hidden="true" style="color:#000000; font-size: 55px;" ></i></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#myCarousel" data-bs-slide="next">
							<span><i class="fa fa-angle-right" aria-hidden="true" style="color:#000000; font-size: 55px;"></i></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
			</div>
			<div class="col-md-5">
				<h3 align="center"  th:text="${product.category.name} + ' ' + ${product.productName}"></h3>
				<div align="center" id="SKU">
					<p>
						<span th:text="'SKU: ' + ${product.productSKU}" style="font-size: 15px;"></span>
					</p>
				</div>
				<div align="center" id="rating">
					<p>
						<span th:text=" ${rating} + ' '"></span><i class='fas fa-star' style="color: #FFD700"></i>
						<span><span th:text="' / ' + ${reviewsCount} + ' bình luận '"></span><i class='fas fa-comment-dots'></i></span>
					</p>
				</div>
				
				<div id="status" style="padding-left: 10%;" th:switch="${quantity_minOder}">
					
					<div th:case="null"></div>
					<div th:case="0">
						<hr/>
						<span th:text=" 'Trạng thái: ' " style="font-size: 25px;"></span>
						<span style="font-size: 25px; color:red">Hết hàng!</span>
					</div>
					<div th:case="*">
						<hr/>
						<span th:text=" 'Trạng thái: ' " style="font-size: 25px;"></span>
						<span style="font-size: 25px; color:green">Còn hàng!</span>
					</div>
				</div>
				
				<div id="brand" style="padding-left: 10%;">
					<hr/>
					<p>
						<span th:text=" 'Thương hiệu: ' + ${product.manufacturer.name}" style="font-size: 25px;"></span>
						<img th:attr="src=@{/upload/{path}(path=${product.manufacturer.logo.name})}"  style="margin-left: 5%; max-width: 15%; border: 1px solid #000000;"/>
					</p>
				</div>
				
				<div id="price" style="padding-left: 10%;" th:switch="${checkSpecialPrice}">
					
					<div th:case="false">
						<b><p th:text="'Giá bán: ' + ${#numbers.formatInteger(product.price,3,'POINT')+'VNĐ'}" style="font-size: 25px;"></p></b>
					</div>
					<div th:case="true">
						<hr/>
						<p class="old-price" th:text="'Giá bán: ' + ${#numbers.formatInteger(product.price,3,'POINT')+' VNĐ'}" style="font-size: 25px;"></p>
						<b><p class="hot-price" th:text="'Giá khuyến mãi: ' + ${#numbers.formatInteger(product.priceSpecial,3,'POINT')+' VNĐ'}" style="font-size: 25px; color: red;"></p></b>
						<b><p class="hot-price" th:text="'( Từ ' + ${#calendars.format(product.priceSpecialStartDate,'dd/MM/yyyy')}+ ' đến ' + ${#calendars.format(product.priceSpecialEndDate,'dd/MM/yyyy')} + ' )'" style="font-size: 15px;"></p></b>
					</div>
				</div>
				<div id="ship" style="padding-left: 10%;" th:switch="${product.freeShip}">
					
					<div th:case="null"></div>
					<div th:case="*">
						<hr/>
						<span><i class='fas fa-truck' style='color:green'></i><span th:text="' Giao hàng miễn phí'"></span></span>
					</div>
				</div>
				
				<div id="attributes" style="padding-left: 10%;" th:switch="${attributesCount}">
					
					<div th:case="0"></div>
					<div th:case="*">
						<hr/>
						<p th:text="'Thông tin chung:'" style="font-size: 25px;"></p>
						<div style="border: 1px solid #000000; border-radius: 5px;">
							<p th:each="attribute : ${attributes}" th:text="${attribute.type.name} + ': ' + ${attribute.value}" style="padding-left: 3%; font-size: 20px;"></p>
						</div>
					</div>
				</div>
				
				<div id="description" style="padding-left: 10%; " th:switch="${product.productDescription}">
					
					<div th:case="null"></div>
					<div th:case="*">
						<hr/>
						<p type="text" th:text="*{product.productName}"
							id="pName" hidden="hidden"></p>
						<button class="btn btn-outline-success btn-sm" style="font-size: 20px;"
						    th:onclick = "createPopupWin('Thông tin chi tiết', 650, 650);">
					        Thông tin chi tiết
					    </button>
					</div>
				</div>
				
				<div id="button" style="padding-left: 10%; " align="center"  >
					<hr/>
					<a class="btn btn-primary" style="font-size: 17px; font-weight:700; width: 12rem;" role="button"
						th:href="@{/shop/buyProduct?(productID=${product.productID})}">
						Mua ngay!
					</a>
					<a class="btn btn-outline-primary" style="font-size: 17px; font-weight:700; width: 12rem;" role="button">Thêm vào giỏ hàng</a>
					<!-- <a class="btn btn-outline-primary" style="font-size: 17px; font-weight:700; width: 12rem;" role="button"
					th:href="@{/shop/addProductToCart?(productID=${product.productID})}">
						Thêm vào giỏ hàng
					</a> -->
				</div>
			</div>
			
			<div class="col-md-1"></div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		
	</script>
</body>
</html>