
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<title>Giỏ hàng</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- cú pháp Jquery: ý nghĩa chờ cái trang html vẽ lên xong r mới xử lý code -->
		<script>
			function findCartLine(productId, data) {
				for (let i = 0; i < data.cartLines.length; i++) {
					if (data.cartLines[i].productInfo.productID == productId) {
						return data.cartLines[i];
					}
				}

				return null;
			}
			$(document)
					.ready(
							function() {
								$("#message").hide();
								$('.quantity').focusin(function() {
									$(this).attr('oldvalue', $(this).val());
								});

								$(".quantity")
										.change(
												function() {
													var oldValue = $(this)
															.attr('oldvalue');

													var quantity = $(this)
															.val();
													var productIdInput = $(this)
															.parent()
															.children()
															.eq(1);
													
													var productId = productIdInput
															.val();
													console
													.log(productId);
													var url = "/api/cart/update-quantity?productId="
															+ productId
															+ "&quantity="
															+ quantity;
													var quantityInput = $(this);
													var totalPriceElem = $(this)
															.parent().parent()
															.children().eq(3);
													console.log($(this)
															.parent()
															.parent()
															.children());

													$
															.get(
																	url,
																	function(
																			data,
																			status) {
																		console
																				.log(data);
																		var msg = data.message;
																		var cartLine = findCartLine(
																				productId,
																				data);
																		console.log(cartLine.amount);
																		totalPriceElem
																				.html(cartLine.amount.toLocaleString()+ 'VND');
																		$(
																				"#amountTotal")
																				.html(
																						data.amountTotal.toLocaleString()+ 'VND');
																		if (msg != null
																				&& msg != "") {
																			//alert(msg);
																			$(
																					"#message")
																					.html(
																							msg);
																			$(
																					"#message")
																					.show();
																			quantityInput
																					.val(oldValue);
																		} else {
																			$(
																					"#message")
																					.hide();
																		}
																	});
												});

							});
		</script>
		<div class="entry-header-area pb-50 pdtop">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="entry-header">
							<h1 class="entry-title mt-5" align="center">Giỏ hàng của bạn</h1>
							<div style="display:none;" id="message" class="alert alert-danger" role="alert">
								
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="cart-main-area pb-50">
			<div class="container-fluid">
				cart-main-area start
				<div class="cart-main-area ptb-40">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="table-responsive">
									<div></div>

									<table id="mainCartTable"
										class="table table-hover table-condensed">

										<thead>
											<tr>
												<th>Ảnh sản phẩm</th>
												<th>Mã sản phẩm</th>
												<th>Tên sản phẩm</th>

												<th>Giá</th>
												<th>Số lượng</th>

												<th>Thành tiền</th>
												<th>Xóa sản phẩm</th>

											</tr>
										</thead>
										<tbody>
											<form
												th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}"
												method="POST" th:action="@{/shop/shoppingCart}"
												th:object="${cartForm}">
												<div class="row">

													<tr th:each="cartLineInfo,itemStat:*{cartLines}">
														<td data-th="Image">
															<div class="row-cart">
																<div class="col-sm-4 hidden-xs">
																	<img width="75" height=50 src=""
																		th:attr="src=@{/upload/{path}(path=${cartLineInfo.productInfo.defaultImage})}" />
																</div>
															</div>
														</td>
														<td width="15%"
															th:text="${cartLineInfo.productInfo.productSKU}"></td>
														<input type="hidden"
															th:field="*{cartLines[__${itemStat.index}__].productInfo.productID}" />
														<td class="col"
															th:text="${cartLineInfo.productInfo.productName}"></td>
														<td class="col"><strong
															th:text="${#numbers.formatInteger(cartLineInfo.productInfo.price,3,'POINT')} + ' ' +  VND"></strong>
														</td>
														<td class="col"><input type="number" class="quantity"
															th:attr="oldvalue=*{cartLines[__${itemStat.index}__].quantity}"
															th:field="*{cartLines[__${itemStat.index}__].quantity}" />
														</td>

														<td class="amount"
															th:text="${#numbers.formatInteger(cartLineInfo.amount,3,'POINT')} + ' '  + VND"></td>
														<td class="col"><a class="btn btn-danger"
															th:href="@{/shop/shoppingCartRemoveProduct?(productID=${cartLineInfo.productInfo.productID})}">
																<i class="fas fa-trash-alt"></i> Xóa

														</a></td>
													</tr>

												</div>
												<div class="row">
													<div class="col-lg-8"></div>
													<div class="col">
														<input class="button-update-sc btn btn-outline-primary"
															type="submit" value="Cập nhật số lượng" />
													</div>
												</div>
												




											</form>
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
										<div class="buttons-cart pdtop">
											<a class="btn btn-primary" th:href="@{/}">Tiếp tục mua
												hàng</a>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

										<div class="cart_totals">
											<h2>Tổng cộng</h2>
											<div class="cart-totals-table">
												<table class="table">
													<tbody>
														<tr class="cart-subtotal">
															<th>Tổng cộng</th>
															<td id="amountTotal"
																th:text="${#numbers.formatInteger(cartForm.amountTotal,0,'POINT')} + ' ' +VND"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>

										<div class="wc-proceed-to-checkout pdbottom">
											<a th:href="@{/shop/shoppingCartConfirmation}"
												class="btn btn-primary">Thanh toán</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<section class="h-100" style="background-color: #eee;">
				<div class="container h-100 py-5">
					<div
						class="row d-flex justify-content-center align-items-center h-100">
						<div class="col-10">

							<!-- <div
								class="d-flex justify-content-between align-items-center mb-4">
								<h1 class="entry-title mt-5" align="center">Giỏ hàng của
									bạn</h1>
								<div id="message" class="alert alert-danger" role="alert">
								Vượt quá số lượng quy định</div>
							</div> -->

							<form th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}"
												method="POST" th:action="@{/shop/shoppingCart}">
												<div class="card rounded-3 mb-4" th:object="${cartForm}">
								<div class="card-body p-4"
									th:each="cartLineInfo,itemStat:*{cartLines}">
									<div
										class="row d-flex justify-content-between align-items-center">
										<div class="col-md-2 col-lg-2 col-xl-2">
											<img width="75" height=50 src=""
												th:attr="src=@{/upload/{path}(path=${cartLineInfo.productInfo.defaultImage})}" />
										</div>
										<div class="col-md-3 col-lg-3 col-xl-3">
											
											<p th:text="${cartLineInfo.productInfo.productName}"
												class="text-uppercase"></p>
											<p>
												Mã sản phẩm: <span class="text-muted"
													th:text="${cartLineInfo.productInfo.productSKU}">
											</p>
											<p>
												Đơn giá:<span class="text-muted"
													th:text="${#numbers.formatInteger(cartLineInfo.productInfo.price,3,'POINT')} + ' ' +  VNĐ"></span>
										</div>
										<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
												<button class="btn btn-link px-2"
													onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
													<i class="fas fa-minus"></i>
												</button>
											<input type="hidden"
												th:field="*{cartLines[__${itemStat.index}__].productInfo.productID}" />
											<input type="number" class="quantity"
												th:attr="oldvalue=*{cartLines[__${itemStat.index}__].quantity}"
												th:field="*{cartLines[__${itemStat.index}__].quantity}"min="0" />

												<button class="btn btn-link px-2"
												onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
												<i class="fas fa-plus"></i>
												</button>
										</div>
										<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 amount" th:text="${#numbers.formatInteger(cartLineInfo.amount,3,'POINT')} + ' ' + VNĐ">
											
										</div>
										<div class="col-md-1 col-lg-1 col-xl-1 text-end">
											<a style="font-size: 15px; width: 6rem;margin-left: -30px;" role="button"
												th:href="@{/shop/shoppingCartRemoveProduct?(productID=${cartLineInfo.productInfo.productID})}"
												class="btn btn-outline-danger"><i
												class="fas fa-trash-alt"></i> <b>Xóa</b></a>
										</div>
									</div>
									<hr>
								</div>
							</div>
							</form>
							


							<div class="order_total">
								<div class="order_total_content text-md-right">
									<div class="order_total_title">Tổng cộng:</div>
									<div class="order_total_amount" id="amountTotal"
																th:text="${#numbers.formatInteger(cartForm.amountTotal,0,'POINT')} + ' ' +VNĐ"></div>
								</div>
							</div>
							<div class="cart_buttons">
								<a th:href="@{/}"><button type="button" class="button cart_button_clear">Tiếp tục mua hàng</button></a>
								<a th:href="@{/shop/shoppingCartConfirmation}"><button type="button" class="button cart_button_checkout">Thanh toán</button></a>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
		</div>
</body>
</html>