<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-shop}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<title>Sản phẩm đang mở bán</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container-fliud pt-5" style=" margin-left: 25px">

			<div class="row" align="center" style="padding-top: 35px; padding-bottom: 35px">
				<h1 style="font-size: 35px;">Sản phẩm đang mở bán</h1>
			</div>
			<div class="row">
				<div class="col-md-3" style="background-color: rgb(165, 255, 255); border-radius: 15px;" >
					<form th:action="@{/shop/productFilter?(categoryName=${categoryName})}" th:object="${filter}"
						method="post" style=" margin-right: 10px">
						<h5  class="mt-3" style="font-size: 20px;">Lọc sản phẩm theo: </h5>
						<div id="price-filter" style="padding-left: 15px;  padding-top: 15px">
							<b class="row mb-2" style="font-size: 15px;">Khoảng giá: </b>
							<div class="row">
								<label class="col-md-4 form-label pt-2" for="lowest-price" style="font-size: 14px;">Giá thấp nhất:</label> 
								<input class="col-md-7 form-control" th:field="*{priceMin}" type="number" min="0" id="lowest-price" th:value="null" style="font-size: 15px; margin-left: 10px; width: 50%;">
								<div class="col-md-1 pt-1">VNĐ</div>
								<input class="mt-3" style="margin-left: 10px;" type="range" min="1000000" max="100000000" step="1000000" oninput="this.previousElementSibling.previousElementSibling.value = this.value">
							</div>
							<br/>
							<div class="row">
								<label class="col-md-4 form-label pt-2" for="highest-price" style="font-size: 14px"> Giá cao nhất:</label> 
								<input class="col-md-7 form-control" th:field="*{priceMax}" type="number" min="0" id="highest-price" th:value="null" style="font-size: 15px; margin-left: 10px; width: 50%;">
								<div class="col-md-1 pt-1">VNĐ</div>
								<input class="mt-3" style="margin-left: 10px;" type="range" min="1000000" max="100000000" step="1000000" oninput="this.previousElementSibling.previousElementSibling.value = this.value">
							</div>
							<hr/>
						</div>
						<div th:switch="${manufacturers}">
							<div th:case="null"></div>
							<div th:case="*">
								<div id="manufacturer-filter" style="padding-left: 15px;">
									<b class="row mb-2" style="font-size: 15px;">Hãng sản xuất</b> 
									<!-- <select class="form-control" th:field="*{manufacturer}" style="font-size: 15px; margin-left: 15px; margin-top: 15px">
									 	<option th:value="null" selected="selected"></option>
										<div th:each="manufac: ${manufacturers}">
									 			<option th:value = "${{manufac}}"
												 		th:text="${manufac.name}">
											 	</option>
									 	 </div>
									</select> -->
									<fieldset class="row"> 
										 <div class="col-md-6" th:each="manufac: ${manufacturers}">
											 <input checked th:field="*{manufacturerList}" type="checkbox" th:value = "${{manufac}}" th:text="' ' + ${manufac.name}">        
									   	 </div>
									</fieldset> 
									<hr/>
								</div>
							</div>
						</div>
						<div th:switch="${attributeTypes}">
							<div th:case="null"></div>
							<div th:case="*">
								<div id="attributes-filter" style="padding-left: 15px;" th:each="attributeType: ${attributeTypes}">
									<b class="row mb-2" style="font-size: 15px;" th:text="${attributeType.name}"></b> 
									
									<!-- <select class="form-control" th:field="*{attributes}" style="font-size: 15px; margin-left: 15px; margin-top: 15px">
									 	<option th:value="null" selected="selected"></option>
										<div th:each="attribute: ${attributes}" th:switch="${attribute.type.attributeTypeID}">
									 			<div th:case="${attributeType.attributeTypeID}">
										 			<option th:value = "${{attribute}}"
													 		th:text="${attribute.value}">
												 	</option>
												</div>
									 	 </div>
									</select> -->
									<fieldset class="row"> 
										 <div class="col-md-6" th:each="attribute: ${attributes}" th:switch="${attribute.type.attributeTypeID}"
										  th:case="${attributeType.attributeTypeID}">
											 <input th:field="*{attributeList}"
											  type="checkbox" th:value = "${{attribute}}" th:text="' ' + ${attribute.value}">        
									   	 </div>
									</fieldset> 
									<hr/>
								</div>
							</div>
						</div>
						<div align="center">
							<a  align="center" class="btn btn-outline-success mb-1" style="font-size: 17px;"
								role="button" th:href="@{/shop/productCategoryFilter?(categoryName=${categoryName})}"> 
								 <b>Đặt lại bộ lọc</b>
							</a>
						</div>
						<div align="center">
							<input type="submit" class="btn btn-outline-primary mt-1 mb-3" value="Lọc sản phẩm" style="font-size: 17px;  font-weight:700;">
						</div>
					</form>
				</div>
				<div class="col-md-9">
					<div th:switch="${products}" style="padding-top: 15px">
						<h3 th:case="null" align="center" class="text-danger">Không có sản phẩm nào phù hợp với bộ lọc!</h3>
						<div th:case="*" class="row">
							<div class="row"> 
								<div class="col-md-2">
									<p style="font-size: 25px;">Sắp sếp theo: </p>
								</div>
								<div class="col-md-2">
									<div class="text-center mb-3" style="font-size: 25px;"><a class="text-decoration-none"
										th:href="@{/shop/productCategoryFilter?(categoryName=${categoryName},sortField='price',sortDir=asc)}">
										<i class='fas fa-long-arrow-alt-up'></i> Giá tăng dần</a>
									</div>
								</div>
								<div class="col-md-2">
									<div class="text-center mb-3" style="font-size: 25px;"><a class="text-decoration-none"
										th:href="@{/shop/productCategoryFilter?(categoryName=${categoryName},sortField='price',sortDir=desc)}">
										<i class='fas fa-long-arrow-alt-down'></i> Giá giảm dần</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12" th:each="product : ${products}">
								<div class="card product_item">
									<div class="body">
										<div class="cp_img">
											<div id="myCarousel" class="carousel slide"
												data-bs-ride="carousel">
												<div class="carousel-inner">
													<div class="carousel-item active">
														<img class="d-block w-100"
															th:attr="src=@{/upload/{path}(path=${product.defaultImage})}"
															style="max-width: 90%; padding-left: 10%" />
													</div>
													<div class="carousel-item " th:each="image : ${product.images}">
														<img class="d-block w-100"
															th:attr="src=@{/upload/{path}(path=${image.name})}"
															style="max-width: 90%; padding-left: 10%" />
													</div>
												</div>
											</div>
											<div class="hover">
												<a class="btn btn-primary" style="font-size: 15px;"
													role="button"
													th:href="@{/shop/productInfo?(productID=${product.productID})}">
													Xem chi tiết! </a>
											</div>
										</div>
										<div style="margin-top: 285px;">
											<h3 align="center" class="hot-name" th:text="${product.productName}"></h3>
				
											<div align="center" id="price" th:switch="${product.priceSpecial}">
												<div th:case="null">
													<b><p th:text="${#numbers.formatInteger(product.price,3,'POINT')} + ' VNĐ'"
															style="font-size: 25px;"></p></b>
												</div>
												<div th:case="*">
													<p class="old-price"
														th:text="${#numbers.formatInteger(product.price,3,'POINT')}  + ' VNĐ'"
														style="font-size: 25px;"></p>
													<b><p class="hot-price" th:text="${#numbers.formatInteger(product.priceSpecial,3,'POINT')} + ' VNĐ'"
															style="font-size: 25px; color: red;"></p></b>
												</div>
											</div>
				
											<div id="attributes">
												<div class="row">
													<div class="col-md-6" th:each="attribute : ${product.attributes}">
														<p  align="center" th:text="${attribute.type.name} + ': ' + ${attribute.value}"
															style="font-size: 15px; border: 1px solid #000000; border-radius: 5px;"></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									<li th:if="${currentPage>1}" class="page-item"><a
										class="page-link"
										th:href="@{/shop/productCategoryFilter?(categoryName=${categoryName}, page=${currentPage-1},sortField=${sortField},sortDir=${sortDir})}">Trang
											trước</a></li>

									<li th:if="${currentPage<=1}" class="page-item disabled"><a
										class="page-link" href="#">Trang trước</a></li>

									<li th:each="i:${#numbers.sequence(1,totalPage)}"
										class="page-item"><a class="page-link" th:text=${i}
										th:href="@{/shop/productCategoryFilter?(categoryName=${categoryName}, page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a></li>

									<li th:if="${currentPage<totalPage}" class="page-item"><a
										class="page-link"
										th:href="@{/shop/productCategoryFilter?(categoryName=${categoryName}, page=${currentPage+1},sortField=${sortField},sortDir=${sortDir})}">Trang
											sau</a></li>
									<li th:if="${currentPage>=totalPage}"
										class="page-item disabled"><a class="page-link" href="#">Trang
											sau</a></li>
								</ul>
							</nav>
						</div>
					
					</div>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>
